/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 6.tạo font chữ không chân */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* fix lỗi float */
.clear {
  clear: both;
}
/* màu chữ trắng  */
.text-white {
  color: #fff !important;
}
#main {
}

#header {
  height: 46.5px;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

/* xóa dấu thứ tự khi sử dụng thẻ ul */
#nav,
.subnav {
  list-style-type: none;
}

/* 2.đặt navigation nằm ngang */
#nav li {
  position: relative;
}

#nav > li {
  display: inline-block;
}

/* 3 ẩn thẻ cấp 2 */
#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px black;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

/* đổi thành in hoa */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

/* 4 thay màu chữ, xóa gạch chân, căn giữa, sửa khoảng các chữ */
#nav li a {
  text-decoration: none;
  line-height: 46.5px;
  padding: 0 24px;
}

/* 7 tạo hiệu ứng đổi màu khi click */
#header #nav li:hover {
  color: #000;
  background-color: #ccc;
}
#nav li:hover .subnav {
  display: block;
}

#header .search-btn {
  float: right;
  color: #ccc;
}

#header .search-icon {
  line-height: 46.5px;
  padding: 0 21px;cc.com.tno(holigudholigud)
}

#header .search-btn:hover {
  color: #000;
  background-color: red;
}
#slider {
  position: relative;
  margin-top: 46.5px;
  padding-top: 50%;
  background: url(/asset/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  width: 100%;
  text-align: center;
  color: #fff;
}

#slider .text-hedding {
  font-weight: 500;
  font-side: 24px;
}

#slider .text-discription {
  margin-top: 25px;
  font-size: 15px;
}
#content {
}

#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#content .section-heading {
  font-size: 30px;
  padding-top: 64px;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}
#content .section-sub-heading {
  font-size: 15px;
  margin: 15px 0;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}
#content .about-texttext {
  font-size: 15px;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
}
#content .member-item {
  text-align: center;
  float: left;
  width: 33.33333%;
}
#content .member-name {
  font-size: 15px;
}
#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}

/* tour-section */
.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  font-size: 15px;
  color: #757575;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 8px;
  margin-left: 16px;
}
.tickets-list .quatity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
.content-section {
}
.section-heading {
}
.section-sub-heading {
}

.places-list {
  padding-bottom: 48px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 32px;
}
.place-item {
  padding: 0 8px;
  float: left;
  width: 33.3333%;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  font-size: 15px;
  padding: 16px;
  background-color: #fff;
}
.place-heading {
  font-size: 15px;
}
.place-time {
  color: #757575;
  margin-top: 15px;
}
.place-desc {
  line-height: 1.4;
}
.place-buy-bth {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
}
.place-buy-bth:hover {
  color: #000;
  background-color: #ccc;
}

/* test */
.content-section{
  padding:46px 0;
}
.contact-list{
  min-height: 200px;
  padding:32px 0;
  
}


.contact-thongtin{
  float: left;
  width:50%;
  position:relative;
  
}

.vetrai{
  height:86px;
  font-size:18px;
 
}

.contact-map{
  padding-bottom:4px;
}

.contact-phone{
  padding-bottom:4px;
}
.contact-icon{
  padding-right:10px;
  
}
.contact-inputs{
 
}
.input{
  width: 48%;
padding: 8px;
margin-bottom:8px;
  
}
.input-email{
  margin-left:10px;

  
}
.input-message{
  width: 100%;
}


.contact-button{
  position:absolute;
  right:0;
  margin:16px 0;
  padding:8px 16px;
  background:#000;
  color:#fff;
  border:none;
  text-transform:uppercase;
}
.contact-button:hover{
  cursor:pointer;
  background:#ccc;
  color:#000;
}


#hello{
  background: url(/asset/img/slider/map.jpg)top center / cover no-repeat ;
  height: 954.5px;
  
}
.footer{
  padding:64px 0;
  width:100%;
  text-align: center;
  opacity: 0.6;
}


.icon-all{
  display: inline-flex;
}

.footer-icon {
 margin: 5px;
  font-size: 20px;
  
}
.footer-text{
  padding-top: 16px;
}
.footer-text a{
  color: inherit;
}


/* test */




/* s:modal */
.modal{
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items:center;
  justify-content:center;

}

.modal.open{
  display:flex;

}

.modal-container{
  background: #fff;
  width:900px;
  min-height:300px;
  position:relative;

}
.modal-close {
  position: absolute;
   right:0;
   top:0;  
   color:#fff;
   padding:10px;
   opacity:0.8;
}

.modal-close:hover{
  cursor:pointer;
  opacity:1;
  background:red;
  color:#000;
}

.modal-header{
  text-transform:uppercase;
  background:#009688;
  font-size:30px ;
  letter-spacing: 4px;
  height:130px;
  color:#fff;
  display:flex;
  align-items: center;
  justify-content: center;
}
.modal-header .ti-bag{
  padding-right:10px;

}

.modal-body{
  padding: 16px;
  
}

.modal-label{
  display: block;
  padding-bottom:12px;
}

.modal-input{
  width:100%;
  border: 1px solid #ccc;
  margin-bottom:24px;
  padding:8px;
}

#buy-tickets{
  background:#009688;
  color:#fff;
  text-transform: uppercase;
  width:100%;
  padding:16px;
  margin-bottom:16px;
  border:none;
}
#buy-tickets:hover{
  cursor: pointer;
  background: #ccc;
  color:#000;
}

.modal-footer{
  text-align:right;
  padding:16px;
margin-bottom: 30px;
}
.modal-footer a{
 color:#2196F3;
}